@import "./bootstrap.scss";

.sker-hero {
  background-image: url("../images/viking_bod.jpg");
}

.sker-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titledate {
  padding: 16px;
  p {
    margin: 0px;
  }
}

.det-sker-citat {
  font-style: italic;
  display: block;
  margin-top: 1rem;
  color: $custom-green;
  font-size: 2rem;
  font-family: $header-font;
  text-align: center !important;
}

.det-sker-button {
  display: block !important;
  margin: auto;
}

.det-sker .card-title {
  font-size: 1.5rem !important;
}
