@import "./bootstrap.scss";

.familier-og-grupper-hero {
  background-image: url("../images/familier_boern.jpeg");
}

.family-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.family-card {
  background-size: cover;
  color: white;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  @media screen and (min-width: 992px) {
    width: calc(100% / 2 - 2rem);
  }
}

.family-card .overlay {
  @media screen and (min-width: 992px) {
    visibility: hidden;
  }
}

.family-card:hover .overlay {
  @media screen and (min-width: 992px) {
    visibility: visible;
    opacity: 0.9;
    transition: all 0.1s ease-in;
  }
}

.family-card:hover h3 {
  @media screen and (min-width: 992px) {
    background-color: transparent;
    transition: background-color 0.1s ease-in;
    z-index: 10;
  }
}

.family-card h3 {
  background-size: cover;
  font-size: 1.5rem;
  font-family: $header-font;
  width: 80%;
  text-align: center;
  padding: 0.5rem 0;
  font-size: 2rem;
  color: $light;
  z-index: 10;
  @media screen and (min-width: 992px) {
    background-color: $custom-green;
    border-radius: 0.25rem;
  }
}

.family-card .overlay-description {
  font-size: 1.4rem;
}

.family-card-children {
  background-image: url("../images/familier_boern.jpeg");
}

.family-card-seniors {
  background-image: url("../images/seniorer.jpeg");
}

.family-card-rent {
  background-image: url("../images/langhuset.jpeg");
}
.family-card-audioWalk {
  background-image: url("../images/audio_walk.jpeg");
}
.family-card-firmaer {
  background-image: url("../images/firmaer.jpg");
}
.family-card-skoler {
  background-image: url("../images/skoler.jpg");
}

.foedselsdag-info {
  background-color: white;
  font-size: large;
}
