@import "./bootstrap.scss";

.navbar-brand img {
  width: 200px;
}

.navbar {
  height: $navbar-height;
  background-color: $custom-green-opacity;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 2rem;
  @media screen and (min-width: 992px) {
    background-color: $custom-green-opacity;
    padding: 0 3rem !important;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.show,
.collapsing {
  background-color: $custom-green !important;
  padding-bottom: 0.5rem;
}

.navbar-collapse ul {
  margin: auto; // centrering af nav links.
}

.navbar .nav-link {
  color: white;
  font-size: larger;
  border-radius: 0;
  padding: 1.2rem 0.5rem;
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  height: $navbar-height;
  // text-transform: uppercase;
}
.navbar li:not(:last-of-type) {
  margin-right: 0.25rem;
}

.nav-item a:hover {
  background-color: $custom-red;
  transition: background-color 0.25s ease-in;
  color: inherit;
}

.navbar-toggler i {
  color: $light;
}

.dropdown-menu.show {
  background-color: $custom-green;
  @media screen and (min-width: 992px) {
    background-color: $light;
    color: black;
  }
}

.dropdown-item {
  color: $light !important;
  @media screen and (min-width: 992px) {
    color: $light !important;
  }
}

.dropdown-item:hover {
  @media screen and (min-width: 992px) {
    color: $light !important;
  }
}

.dropdown-item:active {
  background-color: transparent !important;
}

.navbar-spacer {
  width: 100%;
  height: $navbar-height;
}
