@import "./bootstrap.scss";

ul,
ol {
  margin: 2px 10px 2px 10px;
  padding: 0;
}

p {
  margin: 0px;
}

.KONTAKT {
  background-image: url("../images/kontaktinfo.jpg");
}

.card-body ul li {
  list-style-position: outside !important;
}

.kontaktGrid {
  padding-bottom: 2rem;
  padding: 2rem 3rem;
  background-color: $light;
}

.kontaktGrid-row:not(:last-of-type) {
  padding-bottom: 2rem;
}
.kontaktGrid h4 {
  font-family: $header-font;
  font-size: 1.8rem;
}

.kontaktGrid .card-body {
  background-color: $custom-background-color;
}

.praktiskInfo {
  padding: 2rem 3rem;
}

.praktiskInfo-subheader {
  font-family: $header-font;
  font-size: 2rem;
  font-weight: 600;
}

.praktiskInfo .card {
  .card-body {
    .card-title i {
      display: block;
      color: $custom-red;
      padding: 0.5rem;
      font-size: 30px;
    }
  }
}

.praktiskInfo-regler-container .col {
  margin-bottom: 1rem;
}

.covidInfo-box {
  display: block;
  background-color: $light;
  padding: 1rem;
  border-radius: 0.25rem;
  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.covidInfo-box-text {
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  i {
    font-size: 30px;
    color: $custom-red;
  }
}
