$customBlue: #8bc7fb;
$customLightBlue: #D7ECFF;
$customLight:#EEFAFF;
$customSecondary:#707070;
$customGrey: #899BAF;
$customGreenBlue: #EBF5FF;
$customGradient: linear-gradient($customLightBlue, $customBlue); 